.keypad {
    height: 400px;
    display: flex;

    .input-keys {
        width: 240px;
    
        .digits {
            background: #e0e0e7;
            
            display: flex;
            flex-direction: row;
            flex-wrap: wrap-reverse;

            .key {
                font-size: 2em;
            }
        }

        .functions {
            display: flex;
            background: linear-gradient(to bottom, rgba(202,202,204,1) 0%, rgba(196,194,204,1) 100%);
            .key {
                font-size: 2em;
            }
        }
    }
    .operators {
        background:  linear-gradient(to bottom, rgba(252,156,23,1) 0%, rgba(247,126,27,1) 100%);
        .key {
            color: white;
            border-right: 0;
            font-size: 3em;
        }
    }    
}